<table>
{% autoescape off %}
{% for post in posts %}
    <tr>
        <td>
            <img src="{{ post.user.profileImageUrl }}" width="48" height="48" />
        </td>
        <td style="word-break:break-all;">
            {% if post.thumbnailPic %}
            <a href="{{ post.originalPic }}"><img align="right" src="{{ post.thumbnailPic }}" /></a>
            {% endif %}
            <a href="{{ post.userLink }}">{{ post.user.screenName }}</a>
            {{ post.text }}
            <br />
            <a href="{{ post.replyLink }}">reply</a>
            <a href="{{ post.retweetLink }}">retweet</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ post.creationDateTime }}
            {{ post.source }}
        </td>
    </tr>
    <tr>
    </tr>
{% endfor %}
{% endautoescape %}
</table>
